{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    <form action="\iut method="POST">
		<input type="nom" name="nom" class="form-control" id="exampleInputNom1" placeholder="Entrer le nom">
		<input type="logo" name="logo" class="form-control" id="exampleInputLogo1" placeholder="Entrer le logo">
		<p><input type="submit" value="OK"></p>
	</form>
	
{% endblock %}
